
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-style: italic;
  }


  .nav{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #7a0800
}

.container {
    max-width: 100vh;
    margin: 0 auto;
    padding: 5px;
    color: #1e2328;
}

/* .container.button{
    color: #1e2328;
} */

.product_container{
    display: flex;
    justify-content: space-around;
}

header {
    background-color: #7a0800;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: "DM Serif Display", serif;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-weight: 50;
}

nav {
    flex: 3;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 3;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    flex: 3;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.discount {
    flex: 1;
    text-align: center;
}

.discount p {
    margin: 0;
    background-color: #e0e0e0;
    padding: 10px;
    font-weight: bold;
}

main {
    padding-bottom: 100px;
}

section {
    margin-bottom: 50px;
    display: flex;
}

.banner {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #e0e0e0;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #e0e0e0;
}

.banner p {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.banner button {
    background-color: #1e2328;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: calc(25% - 20px); 
    height: fit-content;
    margin-bottom: 20px;
    text-align: center;
    color: #e0e0e0;
    font-family: "Montserrat", sans-serif;
    font-weight: 20;
}

.proudct_c{
    display: flex;
    justify-content: space-evenly;
}
.product-card p {
    margin-top: 10px;
    font-weight: bold;
}

.product-card img {
    width: 100%;
    height: fit-content;
    justify-content: space-between;

}
  

.view-all {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.view-all a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.join-club {
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

.join-club h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #e0e0e0;
}

.join-club p {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300px;
    color: #e0e0e0;
}

.join-club form {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    color: #e0e0e0;
}

.join-club input[type="email"] {
    padding: 10px 20px;
    border: 1px solid black;
    margin-right: 10px;

}

.join-club button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color: #e0e0e0;
}

.welcome {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #e0e0e0;
}

.welcome h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: #e0e0e0;
}

.welcome p {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #e0e0e0;
}

.welcome button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

